
$palette:(
  green: #146A20,
  light-green: #3D8F31,
  yellow: #FCD103,
  orange: #F09218,
  dark-grey: #343133,
  grey: #A2A2A2,
  light-grey: #D2D2D2,
  white: #fff
);

$grid-breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@mixin primary-button ($background: map-get($palette, light-green)){
  color: map-get($palette, white);
  background: $background;
  border: none;
  border-bottom: 5px solid darken($background, 10%);
  font-weight: bold;
  padding: 8px 30px;
  transition: background 300ms ease;
  &:hover {
    background: darken($background, 10%);
  }
}

@mixin respond($size) {
	@if ($size == xl or $size == lg or $size == md or $size == sm or $size == xs) {
		@media screen and (min-width: map-get($grid-breakpoints, $size)) {
			@content;
		}
	} @else {
		@media screen and (min-width: $size) {
			@content;
		}
	}
}

/*GLOBAL STYLES*/
.homecard h2 {
  color: map-get($palette, green);
  font-size: 1.2em;
  @include respond(lg) {
    font-size: 1.6em;
  }
}

.button__primary {
  @include primary-button;
}

.button__secondary {
  @include primary-button(map-get($palette, orange));
}

.loader {
  margin: 200px auto;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid map-get($palette, green);
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}